# Coursera Capstone Project - Week 3 Task

## Scraping Data from Wikipedia

In [116]:
import pandas as pd
from collections import Counter

In [117]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [118]:
table=pd.read_html(url)
table[0]

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [119]:
checktable1=table[0]['Borough']!='Not assigned'
df_checked1=table[0][checktable]
df_checked1

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [120]:
print('Number of rows: ',df_checked1.shape[0])
print('Number of columns: ',df_checked1.shape[1])

Number of rows:  103
Number of columns:  3

## Task number 2: Get the coordinates

### Way 1: Get the coordinates by using the geocoder package

In [123]:

postal_codes=list(df_checked1['Postal Code'])
latitudes=[]
longitudes=[]

import geocoder # import geocoder

# initialize your variable to None
lat_lng_coords = None

# loop until you get the coordinates

#for postal_code in postal_codes:
 #   while(lat_lng_coords is None):
  #      g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
   #     lat_lng_coords = g.latlng
    #latitude = lat_lng_coords[0]
    #longitude = lat_lng_coords[1]
    #latitudes.append[latitude]
    #longitudes.append[longitude]
    
## This way was too time intensive, so I decided to use the csv file in the cells below, provided by the IBM Team.

### Way 2: Get the Coordinates by using the csv file provided by the IBM Team

In [133]:
url_geospatial_data='http://cocl.us/Geospatial_data'

df_geospatial=pd.read_csv(url_geospatial_data)
df_geospatial.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [134]:
df_total=pd.merge(df_geospatial,df_checked1,on='Postal Code')

In [143]:
df_total.head(2)

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497

In [138]:
print('DF_TOTAL:',df_total.shape)
print('DF CHECKED1:',df_checked1.shape)

DF_TOTAL: (103, 5)
DF CHECKED1: (103, 3)

In [144]:
df_total=df_total[['Postal Code','Borough','Neighbourhood','Latitude','Longitude']]
df_total.head(10)

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848